node_modules/
coverage/
npm-debug.log
cartridges.zip
.idea/
dw.json
sitegenesisdata/
mobilefirstdata/
storefrontdata/
demo_data_sfra/
demo_data_sfra.zip
.DS_Store
test/appium/webdriver/config.json
.vscode
.history
*.iml
.idea
test/acceptance/report
test/integration/config.json
.nyc_output
cartridges/*/cartridge/static
!cartridges/bm_pod_alerts/cartridge/static/
!cartridges/plugin_magazine/cartridge/static/
!cartridges/cartridge_test/cartridge/static/default/js
!cartridges/cartridge_test/cartridge/static/default/css/components/serviceStyles.css
!cartridges/cartridge_test/cartridge/static/default/css/components/serviceStyles.css
!cartridges/cartridge_test/cartridge/static/default/js



