.refresh-container {
    padding-top: 10px;
}

.accordion-button {
    background-color: #f0f0f0;
    border: none;
    border-radius: 0;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    text-align: left;
    cursor: pointer;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-header {
    margin-bottom: 0px;
    background-color: #f0f0f0;
}

.accordion-header:hover {
    cursor: pointer;
}

.accordion-item:last-of-type .accordion-header {
    border-bottom: none;
    margin-bottom: 0;
}

.accordion-collapse {
    border: 1px solid #ddd;
    border-top: none;
    padding: 20px;
    padding-bottom: 0px;
    padding-top: 5px;
}

.accordion-collapse.show {
    border-top: 1px solid #ddd;
}

.maintenance-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 1rem;
}

.maintenance-table th,
.maintenance-table td {
    padding: 0.75rem;
    vertical-align: top;
    text-align: left;
    border-top: 1px solid #dee2e6;
}

.maintenance-table th {
    font-weight: 600;
    background-color: #f9fafb;
    color: #212529;
    text-transform: uppercase;
}

.maintenance-table tbody tr:nth-of-type(even) {
    background-color: #f8f9fa;
}

.maintenance-table tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.max-width {
    max-width: 200px;
    word-wrap: break-word;
}
